
<nav id="navbar-ds" class="navbar navbar-light bg-light px-3 navbar-ds">
    <%= link_to "/", class: "navbar-brand", target:"_blank" do %>
      <%= image_tag "logo.png", alt: "logo", title: "Homepage", class: "avatar" %>
    <% end %>
  <ul class="nav nav-pills">
  <li class="nav-item">
      <a class="nav-link" href="/english"><i class="fa-solid fa-earth-americas"data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="left" title="En"></i></a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">À propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Compétences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading3">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading4">Parcours</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading5">Contact</a>
    </li>
    <%# <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/dygywvyiq/image/upload/v1672743926/joanabossa/user_l1elzu.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            <%# <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%# </div>
          </li> %>

      </ul>
    </li>
  </ul>
</nav>
