  <%= render "shared/navbar" %>
<!-- banner -->
<div class="cover-index mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <p class="p-title">Bonjour! Je m'apelle Diana et je suis</p>
        <h1>Développeuse web Full stack</h1>
        <p><span data-controller="typed-js"></span></p>
  </div>
</div><!-- end div banner -->
<!-- A propos -->
<div class="container">
      <div class="section" id="scrollspyHeading1">
          <div class="intro-wrapper df fd-r">
            <div class="intro">
            <h1 class="intro-heading">-À  <span> Propos-</span> </h1>
            <p class="intro-text">  &nbsp;&nbsp;Après plusieurs années d’expérience dans le commerce de détail, j’ai décidé de retrouver ma passion pour le digital 🚀 et réinventer ma vie professionnelle dans le domaine Informatique et notamment le métier de développeuse web Full stack 👩🏼‍💻.
              Fraichement diplômée du Wagon Nice Batch #1056, j’ai eu l’opportunité de participer au programme #WomenCoders 👩🏻‍🎓✨ et ainsi contribuer à la féminisation des métiers du numérique.⚖️
              Aujourd’hui je souhaite mettre en pratique mes nouvelles compétences et je suis à l’écoute de nouvelles opportunités.👩🏼🔥</p>
            <p class="intro-text">Mes atouts :
            <ul class="atouts">
              <li class="atouts">🚀 Programmation web front end HTML, CSS, JavaScript</li>
              <li class="atouts">🚀 Programmation back end en pattern MVC (Ruby en Rails)</li>
              <li class="atouts">🚀 Expérience en Management d’équipe transversale</li>
              <li class="atouts">🚀 Diplôme M2 d'EDHEC Business School en Management Commercial (2019) et Sciences d’information et communication(2012)</li>
              <li class="atouts">🚀 Profil international quadrilingue (français-anglais-allemand-bulgare)</li>
              <li class="atouts">🚀 Bienveillance et esprit d’équipe </p></li>
              </ul>
          </div>
        </div>
      </div>
</div><!-- end div container à propos-->
<!-- Mes competences -->
<div class="section" id="scrollspyHeading2">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading intro-heading">-Compétences-</h2>
      </div>
  <div class="bg-png">
    <div class="row">
    </div>
  <div class="row text-center">
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
      </span>
          <h4 class="service-heading">Front-end development</h4>
            <p class="text-muted">HTML, CSS, Javascript</p>
    </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">Back-end Development</h4>
          <p class="text-muted">Ruby (Ruby on Rails) </p>
    </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">Responsive design CSS, Bootstrap, jQuery</p>
        </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">MVC Architecture & Design Patterns</h4>
          <p class="text-muted">Ruby on Rails</p>
        </div>
      <div class="col-md-4">
          <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-database fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">Databases</h4>
          <p class="text-muted">Relational (MySQL,SQLite)</p>
        </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">API, AJAX</h4>
          <p class="text-muted"></p>
        </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa-brands fa-figma fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading"> Figma</h4>
          <p class="text-muted" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
            title="Mais aussi" data-bs-content="Création d'une personna, Core User Journey,User flow, Wireframing, Mockups "> Prototypage (voir plus)</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">Cloud Deployment</h4>
          <p class="text-muted">Heroku, DNS, Hotjar</p>
        </div>
        <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading"> Workflow</h4>
          <p class="text-muted" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
            title="Environnement de travail" data-bs-content="MacOs Ventura 13.1,Trello, Slack,Visual Studio Code">Github (voir plus)</p>
        </div>
      </div>
    </div><!-- en div class dection id skills -->
</div><!-- en div class section skills -->

<!-- "Mon portfolio" section -->
<div class="section mon-portfolio" id="scrollspyHeading3">
  <h2 class="text-center intro-heading">-Mon portfolio-</h2>
    <div class="projects-cards">
      <% @projects.each do |project| %>
      <div class="card-project">
        <%= cl_image_tag project.photo.key %>
        <div class="card-project-infos">
      <div>
        <%= link_to project.link, class:"text-decoration-none", target:"blank" do %>
        <h2><%=project.title%></h2>
        <p><%=project.description%></p>
        <% end %>
      </div>
      <%# <%= image_tag "logo.png", alt: "alttext", class: "card-trip-user avatar-bordered" %>
    </div>
  </div>
  <%end%>
  </div>
</div><!-- end div container mon portfolio -->
<!-- Mon Parcours-->
<section id="formations">
  <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading intro-heading" id="scrollspyHeading4">-Experiences & Formations-</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://res.cloudinary.com/dygywvyiq/image/upload/v1673273244/logo-ae2beeecce25d711f577b08deb9adfc6c02b673ed106b8d6c3da0f1721d9da33_nw2gcu.svg" alt="le wagon">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="paddingproblem">2022  Le Wagon à Nice</h4><i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Nice #Batch 1056, Décembre 2022"></i>
                                    <%# <h4 class="subheading"> </h4> %>
                                </div>
                                <div class="timeline-body">
                                        <ul id="ulproblem">
                                            <li>
                                                <p class="text-muted">Conceptrice-développeuse d'applications web Niv (VI)</p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Font end design avec HTML, CSS, Javascript </p>
                                            </li>
                                              <li>
                                                <p class="text-muted">Programmation Back end en pattern MVC Ruby on Rails</p>
                                              </li>
                                                <li>
                                                <p class="text-muted">Conception de schémas de DB et de requêtes SQL sur PostgreSQL avec ActiveRecord</p>
                                                </li>
                                                <li>
                                                <p class="text-muted"> Mise en production d'un clone d'Air BnB en 5 jours (en équipe de 3 personnes)</p>
                                                </li>
                                                <li>
                                                <p class="text-muted"> Mise en production d'une web app de gestion des fiances & partimoine "My Invest" (en equipe)</p>
                                                </li>
                                              </ul>
                                              </div>
                                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://res.cloudinary.com/dygywvyiq/image/upload/v1673275426/havaianas-logo_1_eref6r.png" alt="havaianas">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="paddingproblem">2017-2021 Store Manager Havaianas</h4><i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Havaianas: La célèbre marque de tongs brésilienne"></i>
                                    <h4 class="subheading">
                                </div>
                                <div class="timeline-body">
                                    <ul id="ulproblem">
                                            <li>
                                                <p class="text-muted"> 2019 -2021 Country Trainer  & Visual Merchandiser France</p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Gérer, encadrer et former une équipe de 3 personnes</p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Mettre en œuvre des objectifs: satisfaction et fidélisation des clients, chiffre d’affaires, marge, panier moyen.</p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Superviser l’ensemble des opérations de gestion administrative (RH, flux, stock, tenue de caisse)</p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Piloter le magasin grâce aux KPI's( UPT, ATV, CR)</p>
                                            </li>
                                            <li>
                                                <p class="text-muted"> Appliquer les normes merchandising</p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Assurer un reporting complet hebdomadaire en anglais avec le Retail Manager à Madrid</p>
                                            </li>
                                        </ul>
                                      </div>
                              </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://res.cloudinary.com/dygywvyiq/image/upload/v1673275113/te%CC%81le%CC%81chargement_nf3cyr.png" alt="edhec">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="paddingproblem">2018 - 2019 CSM</h4><i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Innovation managériale avec le Cycle Supérieur de Management - EDHEC CSM"></i>
                                    <h4 class="subheading paddingproblem" >EDHEC Business School Nice</h4>
                                </div>
                                <div class="timeline-body">
                                <ul id="ulproblem">
                                  <li>
                                                <p class="text-muted">
                                                Stratégie de l’innovation (marketing stratégique, management de l’innovation, parcours leader réflexif, développement commercial)
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Management d’équipe (leviers RH, communication managériale, organisation agile, management et comportement durables)
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                              Management des organisations (RSE et innovation sociale, stratégie d’entreprise, performance et audit, sociologie des organisations)
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Transformation digitale (Révolution de l’IA, conduite du changement, parcours web discovery)
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Management légal et financier (pilotage de la performance, maîtrise des risques juridiques, comptabilité et analyse financière, cadre légal et réglementaire, business simulation)
                                                </p>
                                                </li>
                                            </li>
                                              <li>
                                                <p class="text-muted">
                                                Projet de consulting au sujet de la transformation digitale de la marque Havaianas avec tuteur en entreprise Serena Andreotti, Retail Manager Havaianas Europe
                                                </p>
                                                    </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
                    <center><%= link_to 'Téléchargez mon CV', download_path(filename: "CV-Diana-Spieser"), class: "btn btn-blue", :target => '_blank' %></center>
        <%# <div class="text-center">
                    <%# <h3 class="section-subheading text-muted"> ET</h3>
                    <h3 class="section-subheading text-muted" id ="download"> Consultez ma page LinkedIn!</h3>
                    <a href="https://www.linkedin.com/in/diana-spieser/"><i class="fab fa-linkedin grand"></i></a>
                  </div> %>
                <%# </div> %>
</section>

<!-- Contact-->
  <div class= "section" id="scrollspyHeading5">
    <h2 class="text-center intro-heading" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Mes Coordonnés "
    data-bs-content="📞 +33695155744 dianaspieser@gmail.com">-Contact-</h2>
      <center><p>Actuellement à la recherche d'un nouvel emploi, je suis intéressée par les postes de :</p></center>
      <center><p>Développeuse full-stack avec possibilité d'une alternance d'une durée de 12 mois</p></center><br>
      <center><p>à Nice ou en Full remote</p></center>
      <div style="width: 100%; height: 300px;" data-controller="map"
                  data-map-markers-value="<%= @markers.to_json %>"
                  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="contact-wrap laforme">
        <center><div class="container contacter">
          <p>Laissez-moi un message ici:</p>
          <%= form_for @contact do |f| %>
            <div class="col-md-6">
            <%= f.label :name %></br>
            <%= f.text_field  :name, required: true, class: "contact-form-text-area input-field", placeholder: "Vôtre prénom" %></br>
            <%= f.label :email %></br>
            <%= f.text_field :email, required: true, class: "contact-form-text-area input-field", placeholder: "hello@nicetomeetyou.fr" %></br>
            <%= f.label :message %></br>
            <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area input-field", placeholder: "Bonjour, Diana!" %></br>
            <div class= "d-none">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <%= f.submit 'Send Message', class: 'btn btn-blue' %>
          </div>
          <% end %>
        </div>
      </div>
</div>
