
   <%= render "shared/navbar-english" %>
   <!-- banner -->
<div class="cover-index mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <p class="p-title">Hello! My name is Diana and I am</p>
        <h1>Full stack Web Developer</h1>
        <p><span data-controller="typed-js-1"></span></p>
  </div>
</div><!-- end div banner -->
<!-- About -->
<div class="container">
      <div class="section" id="scrollspyHeading1">
          <div class="intro-wrapper df fd-r">
            <div class="intro">
            <h1 class="intro-heading">-About-</h1>
            <p class="intro-text">  &nbsp;&nbsp;After several years of experience in retail, I decided to rediscover my passion for the digital world 🚀 and reinvent my professional life in the field of Computer Science and specifically the role of a full stack web developer 👩🏼‍💻.
              Recently graduated from Wagon Nice Batch #1056, I had the opportunity to participate in the #WomenCoders program 👩🏻‍🎓✨ and thus contribute to the feminization of digital jobs.⚖️
              Today, I wish to put my new skills into practice and I am open to new opportunities.👩🏼🔥</p>
              <p class="intro-text">My strengths:
              <ul class="atouts">
              <li class="atouts">🚀 Front-end web programming HTML, CSS, JavaScript</li>
              <li class="atouts">🚀 Back-end programming in MVC pattern (Ruby on Rails)</li>
              <li class="atouts">🚀 Experience in cross-functional team management</li>
              <li class="atouts">🚀 Master's degree in Commercial Management (2019) and Information and Communication Sciences (2012) from EDHEC Business School</li>
              <li class="atouts">🚀 International profile with fluency in French, English, German, and Bulgarian</li>
              <li class="atouts">🚀 Kindness and team spirit </p></li>
              </ul>
          </div>
        </div>
      </div>
</div><!-- end div container -->
<!-- My skills -->
<div class="section" id="scrollspyHeading2">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading intro-heading">-Skills-</h2>
      </div>
  <div class="bg-png">
    <div class="row">
    </div>
  <div class="row text-center">
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
      </span>
          <h4 class="service-heading">Front-end development</h4>
            <p class="text-muted">HTML, CSS, Javascript</p>
    </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">Back-end Development</h4>
          <p class="text-muted">Ruby (Ruby on Rails) </p>
    </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">Responsive Design</h4>
          <p class="text-muted">Responsive design CSS, Bootstrap, jQuery</p>
        </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">MVC Architecture & Design Patterns</h4>
          <p class="text-muted">Ruby on Rails</p>
        </div>
      <div class="col-md-4">
          <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-database fa-stack-1x fa-inverse"></i>
        </span>
          <h4 class="service-heading">Databases</h4>
          <p class="text-muted">Relational (MySQL,SQLite)</p>
        </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">API, AJAX</h4>
          <p class="text-muted"></p>
        </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa-brands fa-figma fa-stack-1x fa-inverse"></i>
        </span>
            <h4 class="service-heading">Figma</h4>
            <p class="text-muted" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
              title="Also" data-bs-content="Creating a persona, Core User Journey, User flow, Wireframing, Mockups">Prototyping (see more)</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
          </span>
            <h4 class="service-heading">Cloud Deployment</h4>
            <p class="text-muted">Heroku, DNS, Hotjar</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
          </span>
            <h4 class="service-heading">Workflow</h4>
            <p class="text-muted" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right"
              title="Work environment" data-bs-content="MacOs Ventura 13.1, Trello, Slack, Visual Studio Code">Github (see more)</p>
        </div>
      </div>
    </div><!-- en div class dection id skills -->
</div><!-- en div class section skills -->

<!-- "My portfolio" section -->
<div class="section my-portfolio" id="scrollspyHeading3">
  <h2 class="text-center intro-heading">-My portfolio-</h2>
    <div class="projects-cards">
      <% @project_englishes.each do |project_english| %>
      <div class="card-project">
        <%= cl_image_tag project_english.photo.key %>
        <div class="card-project-infos">
      <div>
        <%= link_to project_english.link, class:"text-decoration-none" do %>
        <h2><%=project_english.title%></h2>
        <p><%=project_english.description%></p>
        <% end %>
      </div>
      <%# <%= image_tag "logo.png", alt: "alttext", class: "card-trip-user avatar-bordered" %>
    </div>
  </div>
  <%end%>
  </div>
</div><!-- end div container my portfolio -->
<!-- Mon Parcours-->
<section id="formations">
  <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading intro-heading" id="scrollspyHeading4">-Education & Work Experiance-</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://res.cloudinary.com/dygywvyiq/image/upload/v1673273244/logo-ae2beeecce25d711f577b08deb9adfc6c02b673ed106b8d6c3da0f1721d9da33_nw2gcu.svg" alt="le wagon">
                            </div>
                              <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="paddingproblem">2022  Le Wagon in Nice</h4><i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Nice #Batch 1056, December 2022"></i>
                                <%# <h4 class="subheading"> </h4> %>
                            </div>
                            <div class="timeline-body">
                                    <ul id="ulproblem">
                                        <li>
                                            <p class="text-muted">Web application developer level (VI)</p>
                                        </li>
                                        <li>
                                            <p class="text-muted">Front-end design with HTML, CSS, Javascript </p>
                                        </li>
                                          <li>
                                            <p class="text-muted">Back-end programming using the MVC pattern and Ruby on Rails</p>
                                          </li>
                                            <li>
                                            <p class="text-muted">Design of DB schemas and SQL queries using PostgreSQL and ActiveRecord</p>
                                            </li>
                                            <li>
                                            <p class="text-muted">Deployment of an Air BnB clone in 5 days (in a team of 3 people)</p>
                                            </li>
                                            <li>
                                            <p class="text-muted">Deployment of a web app for managing finances & assets "My Invest" (as a team)</p>
                                            </li>
                                          </ul>
                                          </div>
                                        </div>
                            </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://res.cloudinary.com/dygywvyiq/image/upload/v1673275426/havaianas-logo_1_eref6r.png" alt="havaianas">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="paddingproblem">2017-2021 Store Manager Havaianas</h4><i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Havaianas: The famous Brazilian flip-flop brand"></i>
                                <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                  <ul id="ulproblem">
                                    <li>
                                      <p class="text-muted">2019 -2021 Country Trainer and Visual Merchandiser France</p>
                                    </li>
                                    <li>
                                      <p class="text-muted">Manage, supervise and train a team of 3 people</p>
                                    </li>
                                    <li>
                                      <p class="text-muted">Implement goals: customer satisfaction and loyalty, sales, margin, average basket.</p>
                                    </li>
                                    <li>
                                      <p class="text-muted">Supervise all administrative management operations (HR, flow, stock, cash register)</p>
                                    </li>
                                    <li>
                                      <p class="text-muted">Drive the store using KPI's (UPT, ATV, CR)</p>
                                    </li>
                                    <li>
                                      <p class="text-muted">Apply merchandising standards</p>
                                    </li>
                                    <li>
                                      <p class="text-muted">Provide a complete weekly report in English with the Retail Manager in Madrid</p>
                                    </li>
                                  </ul>
                              </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://res.cloudinary.com/dygywvyiq/image/upload/v1673275113/te%CC%81le%CC%81chargement_nf3cyr.png" alt="edhec">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                <h4 class="paddingproblem">2018 - 2019 CSM</h4><i class="fa-solid fa-circle-info" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Managerial innovation with the Higher Management Cycle - EDHEC CSM"></i>
                                    <h4 class="subheading paddingproblem" >EDHEC Business School Nice</h4>
                                </div>
                                <div class="timeline-body">
                                <ul id="ulproblem">
                                  <li>
                                                <p class="text-muted">
                                                Innovation strategy (strategic marketing, innovation management, reflective leader course, commercial development)
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Team management (HR levers, managerial communication, agile organization, sustainable management and behavior)
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                              Organizational management (CSR and social innovation, business strategy, performance and audit, sociology of organizations)
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Digital transformation (AI revolution, change management, web discovery course)
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Legal and financial management (performance management, legal risk management, accounting and financial analysis, legal and regulatory framework, business simulation)
                                                </p>
                                                </li>
                                            </li>
                                              <li>
                                                <p class="text-muted">
                                                Consulting project on the digital transformation of the Havaianas brand with company mentor Serena Andreotti, Retail Manager Havaianas Europe
                                                </p>
                                                </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <center><%= link_to 'Download my Resume', download_path, class: "btn btn-blue", :target => '_blank' %></center>
        <%# <div class="text-center">
                    <%# <h3 class="section-subheading text-muted"> ET</h3>
                    <h3 class="section-subheading text-muted" id ="download"> Consultez ma page LinkedIn!</h3>
                    <a href="https://www.linkedin.com/in/diana-spieser/"><i class="fab fa-linkedin grand"></i></a>
                  </div> %>
                <%# </div> %>
</section>

<!-- Contact-->
  <div class= "section" id="scrollspyHeading5">
    <h2 class="text-center intro-heading" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Contact details "
    data-bs-content="📞 +33695155744 dianaspieser@gmail.com">-Contact-</h2>
    <center><p>Currently looking for a new job, I am interested in the positions of:</p></center>
    <center><p>Full-stack developer with the possibility of a 12 month apprenticeship</p></center><br>
    <center><p>in Nice or Full remote</p></center>
    <div style="width: 100%; height: 300px;" data-controller="map"
                  data-map-markers-value="<%= @markers.to_json %>"
                  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="contact-wrap laforme">
        <center><div class="container contacter">
          <h4>SAY HELLO!👋</h4>
          <%= form_for @contact do |f| %>
            <div class="col-md-6">
            <%= f.label :name %></br>
            <%= f.text_field  :name, required: true, class: "contact-form-text-area input-field", placeholder: "Your Name" %></br>
            <%= f.label :email %></br>
            <%= f.text_field :email, required: true, class: "contact-form-text-area input-field", placeholder: "hello@nicetomeetyou.fr" %></br>
            <%= f.label :message %></br>
            <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area input-field", placeholder: "Hi, Diana!" %></br>
            <div class= "d-none">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <%= f.submit 'Send Message', class: 'btn btn-blue' %>
          </div>
          <% end %>
        </div>
      </div>
</div>
